
body{
	margin:0;
}

/*Start Page*/

#pageOne{
	width:100%;
	height:100%;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
}

#logo{
	
	width: 400px;
	height:100px;
	background-color: none;
}

#startBtn{
	background-color: black;
	height: 25px;
	width: 100px;
	font-family: 'VT323', monospace;
	color: white;
	text-align: center;
	font-size: 15px;
	border:none;
}

#startBtn:focus{
	outline: none;
}

#gif{
	background-image: url("../images/hack.gif");
	background-size: cover;
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 5;
	width:100%;
}


/*//Game Page One*/

#gamePage{
	display: flex;
	position: fixed;
	flex-direction: row;
	width:100%;
	min-width: 700px;
	height:100%;
	margin:0;
	background-color: black;
}


/*//LEFT*/

.left{
	width: 100%;
	height: 100%;
	/*background-color: orange;*/
}

#timeDiv{
	display: none;
	position: fixed;
	top:0px;
	left:7px;
	width:50px;
	height: 50px;
}

#time{
	font-family: 'VT323', monospace;
	font-size: 35px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	margin-top:12px;
}

#clueOne{
	display:none;
	width: 5px;
	height: 20px;
	margin-top: 660px;
	margin-left: 20px;
	background-color: white;
}



/*//MIDDLE*/

.middle{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width:100%;
	height: 100%;
	/*background-color: green;*/
}

#inputBlock{
	position:fixed;
}

input{
	width: 150px;
	height: 25px;
	font-size: 15px;
	background-color: black;
	color: white;
	border:1px solid white;
}

input:focus{
	outline: none;
}

#submit{
	width: 50px;
	height: 20px;
	font-size: 13px;
	font-family: 'VT323', monospace;
	margin-left: 10px;
	background-color: white;
	color: black;
	border:none;
}

#submit:focus{
	outline: none;
}

#access{
	font-family: 'VT323', monospace;
	font-size: 44px;
	color: white;
	margin-top: 140px;
}

/*//RIGHT*/

.right{
	width: 100%;
	height: 100%;
	/*background-color: blue;*/
}





